.searchPanel{
    position: fixed;
    top: 0;
    left:1vw;
    height: 14vh;
    width: 20.5vw;
    background-color: #cccccc;
    border-radius: 0 0 30px 30px;
    padding: 10px;
    border: 5px solid #343A40;
    border-top-width: 0;
    text-align: center;
    box-sizing: border-box;
}
.searchInput{
    background-color: #2b2e34;
    color: orange;
    border-radius: 30px;
    width: 90%;
    height: 2.5vh;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
}
.searchInput:focus{
    outline: none;
}
.sortHeader{
    font-weight: bold;
    font-size: 2vh;
    color: #2b2e34;
    margin: 3px;
}

