.infoUser{

    text-align: center;

}

.about{
    width: '100%';
    margin-top: '25px';
    display: 'flex';
    justify-content: 'space-around';
    flex-direction: 'colomn';
    height: '500px';
}