.idea/
*.~
*.tmp
*.class
*.cache
*.log
.cache/
.history/
project/boot/
project/plugins/project/
target/
*.metadata
bin/
tmp/
.settings/
*.loadpath
*.bak
*.swp
*.target
*.buildpath
*.cache-main
*.iml
out/