.container {
  width: 100%;
  height: 100vh;
  background-color: black;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
  font-family: "Courier Prime";
}

.chatListContainer {
  display: flex;
  height: 100%;
  flex-grow: 1;
}

.messengerContainer {
  display: flex;
  flex-grow: 4;
}
.section {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  height: 500px;
}
