.MessageField{
    height: 10vh;
    bottom: 0;
    background-color: #181717;
    width: 100%;
    max-width: 728px;
    display: flex;
    font-size: 1.5rem;
}

.MessageField input{
    line-height: 1.5;
    width: 75%;
    font-size: 1.5rem;
    background: #3a3a3a;
    outline: none;
    padding: 0 10px;
    color: white;
    border: 1px solid #1e1e24;
    border-right: none;
}
.MessageField input:first-child{
    width: 25%;
}

.MessageField button{
    border: 1px solid #1e1e24;
    border-right: 4px solid #1e1e24;
    outline: none;
    font-size: 50px;
    width: 20%;
    background-color: #38388f;
}