<form action="/create" method="POST">
	<h2>Create todo</h2>
	<div class="input-field">
		<input placeholder="Todo title" type="text" name="title">
	</div>

	<button type="submit" class="btn waves-effect waves-light">Create</button>
	<button type="reset" class="btn waves-effect waves-light">Clear</button>
</form>
