<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://bootswatch.com/4/sandstone/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/main.css">
    <script src="/main.js" defer></script>
    <title>App</title>
</head>
<body>
    <div class="container mt-4">
        {{> header}}
        {{{body}}}
        {{> footer}}
    </div>
</body>
</html>