{{> head}} <!-- Подключение partial(части)-->
<body>
	{{> navbar}}
	<div class="container">
		{{{ body }}} <!-- Чтобы рендерить определенные страницы, hbs будет понимать что сюда нужно рендерить определенные страницы-->
	</div>
</body>
</html>