* {
    margin:0;
    padding:0;
}
h3 {
    text-align: center;
}

.container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    height: 600px;
}

.basket, .catalog {
    max-width: 700px;
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid #b0b0b0 1px;
    box-sizing: border-box;
    flex-direction: column;
}

.basket {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, rgba(187,197,249,1) 0%, rgba(255,178,216,1) 100%);
}

.catalog {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(33,47,62,1) 100%);
}

.productImage {
    display: block;
    height: 50px;
    margin-right: 10px;
}

.groupButtons {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.product, .groupTitle {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 5px;

}

.textarea {
    padding: 5px;
}

.groupTitle {
    flex-direction: column;
    padding: inherit;
}

.myButton {
    margin: 15px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;

}

.myButton:hover {
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.myButton:active {
    position: relative;
    top: 1px;
}

.modal {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #b0b0b044;
    left: 0px;
    top: 0px;
}

.window {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    height: 95%;
}

.navigation {
    display: flex;
    justify-content: center;
}

.modalImage {
    display: block;
    height: 90%;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.center {
    align-self: center;
}