.message-form__author {
  width: 30%;
}

.message-form__message {
  width: 100%;
}

.chat__icon-button {
  background-color: var(--button-color) !important; 
  color: white !important;
  width: 40px;
  height: 40px;
  margin: auto 8px !important;
}