.navbar {
    width: 30%;
    padding: 30px;

    background-color: $navbarBackColor;

    &__block {
        position: relative;
    }

    &__myLink {
        color: #fff;
        cursor: pointer;
        margin-right: 5px;
        text-transform: uppercase
    }

    &__list {
        height: 400px;
        overflow-y: scroll;
    }

    &__delete {
        transform: rotate(-45deg);
        color: #fff;

        position: absolute;
        right: 10px;
        top: 0;
        z-index: 5;

        &:hover {
            cursor: pointer
        }
    }

    &__links {
        display: flex;
        margin-bottom: 15px;

        a {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            margin-right: 10px;

            &:hover {
                &::after {
                    transition: width .3s ease;
                    width: 100%;
                }
            }

            &::after {
                content: '';
                bottom: 0;
                display: block;
                width: 0px;
                height: 1px;
                background-color: #fff;
                transition: width .3s ease;
            }
        }
    }

    &__about {
        display: flex;
        align-items: center;

        margin-bottom: 45px;

        &--head {
            margin-bottom: 0px;

            display: flex;
            align-items: center;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__input {
        width: 100%;

        input {
            border: none;
            background: transparent;

            width: 100%;
            margin-bottom: 20px;
            padding: 10px;

            border-bottom: 1px solid $smallColor;
            color: $smallColor;
            outline: none;
        }
    }

    &__img {
        width: 40px;
        height: 40px;
        margin-right: 50px;
        border-radius: 100%;
        //background-color: #000;

        img {
            width: 100%;
            display: block;
            border-radius: 100%;
        }
    }

    &__info {

        &-name {
            color: $fontColor;
            font-size: $font;
            margin-bottom: 7px;

            &--color {
                color: #000;
                font-size: $font;
                margin-bottom: 7px;
            }
        }

        &-mess {
            color: $smallColor;
            font-size: $lastFont;
        }
    }

    &__form {
        margin-top: 60px;
        display: flex;
        align-items: center
    }

    &__btn {
        display: block;
        width: 30px;
        height: 30px;

        border: none;
        background-color: none;
        border-radius: 100%;
        background-color: #4d0096;
        color: #fff;
        margin-left: 5px;
        cursor: pointer;

        transition: all .3s ease-in;
        outline: none;
    }

    &__btn:hover {
        transition: all .3s ease-in;
        background-color: #fff;
        color: #4d0096;
    }

    &__link {
        text-decoration: none
    }
}