<form action="/add" method="POST">
    <h4>Добавить задачу</h4>
    <div class="input-field">
        <input type="text" name="title">
        <label>To Do Title</label>
    </div>

    <button type="submit" class="btn">Создать задачу</button>
</form>