body {
  background: url(./img/bg.jpg) 0 0 / cover no-repeat;
  position: relative;
}

.container {
  min-height: 100%;
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*КНОПКИ*/

/*---------------add__btn--------------*/
.add__btn {
  height: 50px;
  width: 200px;
  display: block;
  padding: 0 10px;
  background: lightblue;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  position: relative;
  outline: none !important;
  margin: 15px 0;
}

.add__btn:hover {
  background: lightcyan;
}

.add__btn:active {
  background: lightblue;
  position: relative;
  top: 2px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
  outline: none !important;
}

/*---------------minus__btn--------------*/
.minus__btn {
  height: 40px;
  width: 40px;
  display: block;
  padding: 0 10px;
  background: rgb(160, 245, 160);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  position: relative;
  outline: none !important;
  margin: 0 15px;
}

.minus__btn:hover {
  background: rgb(97, 184, 97);
}

.minus__btn:active {
  background: rgb(115, 219, 115);
  position: relative;
  top: 2px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
  outline: none !important;
}

/*---------------plus__btn--------------*/

.plus__btn {
  height: 40px;
  width: 40px;
  display: block;
  padding: 0 10px;
  background: rgb(160, 245, 160);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  position: relative;
  outline: none !important;
  margin: 0 15px;
}

.plus__btn:hover {
  background: rgb(97, 184, 97);
}

.plus__btn:active {
  background: rgb(115, 219, 115);
  position: relative;
  top: 2px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
  outline: none !important;
}

/*---------------delete__btn--------------*/
.delete__btn {
  height: 40px;
  width: 40px;
  display: block;
  padding: 0 10px;
  background: #ffb7b7;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  position: relative;
  outline: none !important;
  margin: 15px 0;
}

.delete__btn:hover {
  background: #ff9c9c;
}

.delete__btn:active {
  background: #ffb7b7;
  position: relative;
  top: 2px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
  outline: none !important;
}

/*---------------clear__btn--------------*/

.clear__btn {
  height: 50px;
  width: 200px;
  display: block;
  padding: 0 10px;
  background: #ffb7b7;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  position: relative;
  outline: none !important;
  margin: 15px 0;
}

.clear__btn:hover {
  background: #ff9c9c;
}

.clear__btn:active {
  background: #ffb7b7;
  position: relative;
  top: 2px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
  outline: none !important;
}

/*---------------order__btn--------------*/

.order__btn {
  height: 50px;
  width: 200px;
  display: block;
  padding: 0 10px;
  background: #57e72b;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  position: relative;
  outline: none !important;
  margin: 15px 0;
  margin: 10px auto;
}

.order__btn:hover {
  background: #20f319;
}

.order__btn:active {
  background: #57e72b;
  position: relative;
  top: 2px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
  outline: none !important;
}

/*---------comments__btn------------*/

.comments__btn {
  height: 50px;
  width: 170px;
  display: block;
  padding: 0 10px;
  background: #8dca94;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  position: relative;
  outline: none !important;
  margin: 15px 0;
  margin: 10px auto;
}

.comments__btn:hover {
  background: #a8eeb1;
}

.comments__btn:active {
  background: #8dca94;
  position: relative;
  top: 2px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
  outline: none !important;
}

/*--------toBasket__btn--------------*/

.toBasket__btn {
  height: 50px;
  width: 170px;
  display: block;
  padding: 0 10px;
  background: #8dca94;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  position: relative;
  outline: none !important;
  margin: 15px 0;
  margin: 10px auto;
}

.toBasket__btn:hover {
  background: #a8eeb1;
}

.toBasket__btn:active {
  background: #8dca94;
  position: relative;
  top: 2px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
  outline: none !important;
}

/*--------confirm__btn--------------*/
.confirm__btn {
  height: 50px;
  width: 170px;
  display: block;
  padding: 0 10px;
  background: #8dca94;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  position: relative;
  outline: none !important;
  margin: 15px 0;
  margin: 10px auto;
}

.confirm__btn:hover {
  background: #a8eeb1;
}

.confirm__btn:active {
  background: #8dca94;
  position: relative;
  top: 2px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
  outline: none !important;
}

/*------backToComment__btn---------*/

.backToComment__btn {
  height: 50px;
  width: 200px;
  display: block;
  padding: 0 10px;
  background: #8dca94;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  position: relative;
  outline: none !important;
  margin: 15px 0;
  margin: 10px auto;
}

.backToComment__btn:hover {
  background: #a8eeb1;
}

.backToComment__btn:active {
  background: #8dca94;
  position: relative;
  top: 2px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
  outline: none !important;
}

/*--------stat__btn--------------*/
.stat__btn {
  height: 50px;
  width: 170px;
  display: block;
  padding: 0 10px;
  background: #8dca94;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  position: relative;
  outline: none !important;
  margin: 15px 0;
  margin: 10px auto;
}

.stat__btn:hover {
  background: #a8eeb1;
}

.stat__btn:active {
  background: #8dca94;
  position: relative;
  top: 2px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
  outline: none !important;
}

/*--------closestat__btn--------------*/
.closestat__btn {
  height: 50px;
  width: 100px;
  display: block;
  padding: 0 10px;
  background: #8dca94;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  position: relative;
  outline: none !important;
  margin: 15px 0;
  margin: 10px auto;
}

.closestat__btn:hover {
  background: #a8eeb1;
}

.closestat__btn:active {
  background: #8dca94;
  position: relative;
  top: 2px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
  outline: none !important;
}

/*--------Каталог--------------*/

#catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product__card {
  width: 450px;
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 22px;
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: #b5c9f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  padding-right: 5px;
}

.product__image {
  height: 200px;
  width: 200px;
}

/*--------------Корзина---------*/

#basket {
  width: 970px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.product__count {
  text-align: center;
  margin-top: 10px;
  height: 40px;
  width: 150px;
  display: none;
}

.prod__card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basket__prod {
  border: 3px solid #000;
  font-size: 20px;
  width: 300px;
  margin: 5px auto;
  background-color: lightsteelblue;
}

.minusBtn,
.plusBtn {
  outline: none !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}

#basket span {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}

/*----------Форма для адреса-----------*/

.address__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  padding-top: 20px;
}

.address__body {
  display: none;
  flex-direction: column;

  padding: 30px;
}

.address__body h2 {
  margin-bottom: 20px;
}

.address__body input {
  margin: 10px;
}

.address__body p {
  margin: 0;
}

/*----------Комментарий к покупке-----------*/

.comment__area {
  display: none;
}

/*-----------------Статистика----------------*/

.statistic__area {
  text-align: center;
  display: none;
  flex-direction: column;
}
