header {
    padding: 5px;
    margin-bottom: 40px;
    background: linear-gradient(90deg, black 10%, white);

}

a {
    margin-left: 20px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}