@import './../common/globalVariables';
@import "./../common/commonMixinsApp";
.AuthContainer{
  @include center-content;
  width: 100vw;
  height: 100vh;
  background-color: $bgPrimaryLight;
  a{
    width: 40vw;
    text-align: center;
  }
  .AuthArea{
    @include --border('all', $primary, true);
    @include --padding;
    @include center-content;
    width: 50vw;
    height: 70vh;
    cursor: pointer;
    flex-direction: row!important;
    flex-wrap: wrap;
    .AuthAreaSection{
      @include center-content;
      width: 23vw;
    }
    .AuthLabel{
      display: block;
      font-size: 30px;
      color: $primary;
      margin: 10px;
    }
    .AuthInput{
      @include --padding;
      @include --border('all', $primary2, true);
      margin: 10px;
      display: block;
      font-size: 30px;
      color: $primary;
      background-color: $light;
      &:focus{
        @include --border('all', $primary, true);
        outline: none;
      }
    }
    .alertInput{
      border-color: $alert!important;
    }
  }
}
