@import "./../common/globalVariables";
@import "../common/commonMixinsApp";
@keyframes shadow {
  from {
    text-shadow: 1px 1px 2px $deepDark, 0 0 1em $primary, 0 0 0.2em $light;
  }
  to {
    text-shadow: 1px 1px 2px $light, 0 0 1em $primary, 0 0 0.2em $deepDark;
  }
}
.MessagesPage{
  display: flex;
  .selectDialogPanel{
    width: 25vw;
    height: 100vh;
    background-color: $bgPrimary;
    cursor: pointer;
    position: relative;
    @include --border('right', $primary1, false);
    .searchMessPanel{
      @include center-content;
      height: 5vh;
      width: 100%;
      background-color: $bgPrimaryLight;
      .searchMessPanelInput{
        @include --border('all', $bgPrimary, true);
        @include --padding;
        @include text-standard(1.5vh);
        width: 90%;
        height: 4vh;
        background-color: $light;
        color: $bgPrimaryLight;
        &:focus{
          outline: none;
        }
      }
    }
    .CategorySelectorDlgPnCont{
      width: 100%;
      display: flex;
      .CategorySelectorDlgPn{
        @include --padding;
        @include center-content;
        @include text-standard(30px);
        @include --border('bottom', $primary, false);
        height: 5vh;
        width: 50%;
        &:hover{
          background-color: $primary2;
          color: $deepDark;
        }
      }
    }
    .ChatsSectionDlgPn{
      @include --padding;
      @include --border(top bottom, $primary, false);
      text-align: center;
      font-size: 25px;
      width: 96%;
      max-height: 75vh;
      margin: 10px auto 10px auto;
      color: $primary2;
      overflow-y: auto;
      overflow-x: hidden;
      background-color: transparentize($bgPrimaryLight, 0.5);
      &:first-child{
        background-color: transparentize($bgPrimaryLight2, 0.5);
      }
      .ChatsSectionHeaderDlgPn{
        @include --padding;
        @include center-content;
        @include --border(bottom, $bgPrimaryLight3, false);
        margin: 10px;
        color: $primary;
        font-size: 40px;

      }
      .chatSelector{
        &:nth-child(2n){
          background-color: transparentize($deepDark, 0.5);
        }
        &:hover{
          background-color: transparentize($primary2, 0.5);
        }
        &Selected{
          @include --border(bottom top, $primary, false);
          background-color: transparentize($primary, 0.5) !important;
        }
        @include --border(top bottom, $bgPrimaryLight3, false);
        @include center-content;
        width: 100%;
        height: 11vh;
        background-color: $bgPrimaryLight;
        .DeleteChatBtnSelector{
          @include button-click;
          position: absolute;
          width: 30px;
          height: 30px;
          top: 10px;
          left: calc(100% - 40px);
        }
        .chatSelectorTitle{
          text-align: center;
          color: $primary;
          font-size: 27px;
          font-weight: bold;
          height: 35px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
          margin-bottom: 6px;
        }
        .chatSelectorMessage{
          @include center-content;
          font-size: 15px;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
          height: 60px;
          word-break: break-all;
          .EmptyChatPlaceholder{
            @include --padding;
            background-color: transparentize($primary2, 0.5);
            border-radius: $border;
            font-size: 14px;
            color: transparentize($bgPrimary, 0.5);
            width: 100%;
          }
        }
        .chatSelectorPeopleBtn{
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          @include --padding;
          background-color: transparentize($primary1, 0.8);
          border-radius: $border;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          .--localBtn{
            @include --border('all', $light, true);
            @include button-click;
            height: 40px;
            width: 40px;
            margin: 5px;
            background-size: contain;
            background-color: $bgPrimary;
          }
          .startChatUserBtn{
            @extend .--localBtn;
            background-image: url("https://img.icons8.com/clouds/100/000000/add-message.png");
          }
          .addFriendUserBtn{
            @extend .--localBtn;
            background-image: url("https://img.icons8.com/clouds/100/000000/add-user-group-man-man.png");
          }
        }
      }
    }
    .ShortMenuContainer{
      @include center-content;
      @include --padding;
      @include --border(top, $primary, false);
      display: flex;
      justify-content: center;
      height: 17.5vh;
      width: 100%;
      position: absolute;
      left: 0;
      top: calc(100% - 17.5vh);
      .shortMenuGreeting{
        @include center-content;
        color: $primary;
        font-size: 2vh;
        margin: 10px;
        font-weight: bold;
      }
      .UnAuthorizeBtn{
        @include --border('all', $light, true);
        @include --padding;
        @include button-click;
        @include center-content;
        background-color: $primary;
        color: $light;
        height: 6vh;
        font-weight: bold;
        width: 60%;
      }
    }
  }
  .MessengerArea{
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .emptyMessengerArea{
      @include center-content;
      width: 100%;
      height: 100%;
      font-weight: bold;
      font-size: 5vh;
      color: $primary;
      background-color: $bgPrimaryLight;
    }
    .MessengerTopPanel{
      @include center-content;
      width: 100%;
      height: 5vh;
      background-color: $bgPrimaryLight;
      .chatTitleTopPn{
        @include --padding;
        color: $primary;
        font-weight: bold;
        font-size: 4vh;
      }
    }
    .MessagesArea{
      @include --padding;
      width: 100%;
      flex-grow: 1;
      background-color: $bgPrimaryLight3;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: auto;
      .Message {
        @include --padding;
        @include --border('all', $primary, true);
        display: flex;
        justify-content: space-between;
        background-color: transparentize($bgPrimary, 0.5);
        font-size: 20px;
        max-width: 70%;
        word-break: break-all;
        margin: 10px;
          .MyIconAuthor{
            order: 1;
        }
      }
      .MyMessage{
        @extend .Message;
        background-color: transparentize($primary, 0.5);
        align-self: flex-end;
      }
      .MessageText{
        margin: 15px;
      }
    }
    .InputMessageArea{
      @include --padding;
      width: 100%;
      background-color: $bgPrimaryLight2;
      display: flex;
      align-items: center;
      justify-content: center;
      .InputMessageTextArea{
        @include --border('all', $primary2, true);
        @include --padding;
        width: 80%;
        resize: none;
        font-size: 22px;
        overflow: auto;
        &:focus{
          outline: none;
        }
      }
      .SendMsgBtn {
        @include --padding;
        @include button-click;
        background-color: $bgPrimaryLight2;
        background-image: url("https://img.icons8.com/clouds/100/000000/cloud-mail.png");
        background-size: contain;
        height: 6vh;
        width: 6vh;
        margin: 5px;
      }
    }
  }
}
.PanelMessageActions{
  @include center-content;
  background-color: $bgPrimary;
  color: $light;
  width: 10vw;
  height: 4vh;
  overflow: hidden;
  border-radius: $border;
  &Button{
    @include button-click;
    height: 4vh;
    width: 4vh;
    &:hover{
      background-color: transparentize($primary2, 0.5);
      border-radius: $border;
      transition-duration: 1s;
    }
  }
}
