*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center
}

.header {
    padding: 20px 0;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(33,47,62,1) 100%);
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around
}

.header__link {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

.todos {
    max-width: 1100px;
    width: 100%;
    overflow-y: scroll;
    height: 330px;
    margin-top: 20px;
}

.todos-list {
    padding: 0;
    list-style: none;
    width: 100%;
}

.todo-item {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(187,197,249,1) 0%, rgba(255,178,216,1) 100%);;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.todos-link {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.footer {
    background: linear-gradient(90deg, rgba(187,197,249,1) 0%, rgba(255,178,216,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    color: #fff;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn {
    border: none;
    padding: 7px 14px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-save {
    background: radial-gradient(circle, rgba(6,246,64,1) 0%, rgba(0,255,194,1) 100%);
    color: black;
    margin-right: 15px;
}
.btn-save:hover{
    background: radial-gradient(circle, rgba(2,255,25,1) 0%, rgba(106,255,0,1) 76%);
}
.btn-delete {
    background: radial-gradient(circle, rgba(255,182,2,1) 0%, rgba(255,66,0,1) 100%);
    color: black;
}
.btn-delete:hover{
    background: radial-gradient(circle, rgba(255,2,73,1) 0%, rgba(255,0,0,1) 76%);

}

.btn-add {
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    cursor: pointer
}
.btn-add:hover{
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);

}

.form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    text-align: center;
}
.form h4 {
    text-align: left;
}
.form-item {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.form-title {
    color: #333;
    font-size: 24px;
    text-transform: uppercase;
}

.title-task {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 24px;
    color: #333;
    border: 2px solid #280165;
    margin-bottom: 20px;
    outline: none
}

.line-through {
    text-decoration: line-through;
}

.text {
    text-align: center;
    font-size: 24px;
    color: #333
}

.block-todo {
    text-align: center;
}

.block-todo h2{
    margin-bottom: 15px;
}

.enter {
    margin-top: 15px;
    background: radial-gradient(circle, rgba(40,4,154,1) 57%, rgba(90,2,145,1) 100%);
}
.enter:hover{
    background: radial-gradient(circle, rgba(61,0,255,1) 57%, rgba(157,0,255,1) 100%);

}