<div>
	<form action="/todos" method="POST">
		<div>
			<input type="text" name='title' class="todo__input" placeholder="Что надо сделать?">
		</div>
		<div>
			<button type="submit" class="add">Добавить задачу</button>
		</div>
	</form>
</div>