<nav class="teal darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">To Do List</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">


            {{#if isIndex}}
            <li class="active"><a href="/">Список задач</a></li>
            {{else}}
            <li><a href="/">Список задач</a></li>
            {{/if}}

            {{#if isAdded}}
            <li class="active"><a href="/add">Добавить задачу</a></li>
            {{else}}
            <li><a href="/add">Добавить задачу</a></li>
            {{/if}}

            {{#if isDeleted}}
            <li class="active"><a href="/delete">Удалить задачу</a></li>
            {{else}}
            <li><a href="/delete">Удалить задачу</a></li>
            {{/if}}

        </ul>
    </div>
</nav>