.profile-content {
    display: flex;
    justify-content: center;
}

.profile-card {
    width: 400px;
}

.profile-card p {
    text-align: center;
}

.profile-card__content p {
    text-align: center;
}

.profile-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 80px;
}