* {
    margin: 0;
    padding: 0;
}

img {
    width: 400px;
    margin-bottom: 10px;
}

#root {
    width: 400px;
    margin: 0 auto;
}
.text {
    text-align: center;
}
button {
    margin-top: 10px;
    position: relative;
left: 50%;
transform: translate(-50%, 0);
}

