* {
    font-family: 'Lobster', cursive;
    font-size: 48px;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.box div {
    width: 100px;
    height: 100px;
}
.content h1 {
    text-decoration: underline;
    text-decoration-color: red;
}
.product-title {
    padding: 0 15px;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
    color: #7f889e;
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    background: #eceff5;
}
.product-total {
    padding: 0 5px;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
    color: red;
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    background: #eceff5;
}