.MessageField{
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: #181717;
    width: 100%;
    max-width: 728px;
    display: flex;
    font-size: 1.5rem;
}

.MessageField input{
    line-height: 1.5;
    width: 50%;
    font-size: 1.5rem;
    background: #3a3a3a;
    outline: none;
    padding: 0 10px;
}
.MessageField button{
    outline: none;
    font-size: 50px;
    width: 20%;
    background-color: #38388f;
}