<form action="/create" method="POST">
    <h2>Create ToDo</h2>
    <div class="input-field">
        <input type="text" name="title">
    </div>
    <button type="submit" class="btn">Create
    </button>
</form>