@import '../../css/variables';

.Sidebar {
    &-add__chat {
        min-height: 64px;
        max-width: $drawerWidth;
    }

    &-link__reset:hover {
        text-decoration: none;
    }

    &-last__message {
        min-height: 40px;
    }

    &-list {
        width: $drawerWidth;
    }
}