.chat__card {
  width: 500px;
  margin: 20px auto;
}

.chat__header {
  background-color: var(--bg-color-card);
  flex-direction: row-reverse;
  text-align: center;
  padding: 10px;
}

.chat__content {
  height: 400px;
  overflow: auto;
}

.chat__background-color {
  background-color: var(--bg-color-card);
  justify-content: space-between;
}

.chat__icon-button {
  background-color: var(--button-color) !important; 
  color: white !important;
}