.message {
    background-color: cornflowerblue;
    padding: 5px 12px;
    border-radius: 12px;
    font-size: 20px;
    margin: 5px;

    &-author {
        color: rgb(104, 104, 104);
        font-size: 14px;
    }

    &-bot {
        align-self: flex-start;
    }

    &-sender {
        align-self: flex-end;
    }
}