header {
  height: 60px;
  width: 986px;
  left: 0;
  z-index: 10;
  background: white;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.inner_header {
  width: 100%;
  height: 100%;
  padding: 0 0 0 23px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;

  .logo {
    font-size: 30px;
    text-decoration: none;
    color: $active;
    font-weight: 500;
    margin-left: -30px;

    .logo_icon {
      margin-right: 5px;
    }
  }

  .search {
    width: 330px;
    height: 40px;
    position: relative;

    &_icon {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      color: $secondaryText;
      transition: .3s;
      &__right{
        left: unset;
        right: 10px;
        width: 0;
        height: 0;
      }
    }

    &_input {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.05);
      border: 1px solid $secondaryText;
      border-radius: 5px;
      color: $mainText;
      padding: 0 25px 0 42px;
      font-size: 16px;
      font-weight: 300;
      outline: none;
      transition: .3s;
      &:focus{
        padding: 0 25px 0 15px;
        ~.search_icon{
          width: 0;
          height: 0;
        }
        ~.search_icon__right{
          width: 20px;
          height: 20px;
          &:hover{
            cursor: pointer;
            color: $active;
          }
        }
      }
    }


  }

  .notifications {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 240px;
    height: 40px;
  }
}