* {
    margin: 0;
    font-family: Tahoma, sans-serif;
}

p,
b {
    font-size: 14px;
}

.chat-name {
    margin-bottom: 18px;
    text-align: center;
}

.choose-chat {
    text-align: center;
}

.heading-chats {
    text-align: center;
    margin-bottom: 18px;
}

hr {
    border: none;
    color: rgb(224, 224, 224);
    background-color: rgb(224, 224, 224);
    height: 1px;
}

a {
    width: 100%;
}

.chat-link {
    width: 100%;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.chat-link:hover {
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.04);
}

.last-message {
    display: flex;
}

.img {
    display: flex;
    align-items: center;
}

.box {
    margin-left: 20px;
}



.fire {
    background-color: rgba(0, 0, 0, 0.04);
}