.chat__link {
  text-decoration: none;
  color: black;
}

.chat__userAvatar {
  width: 45px !important;
  height: 45px !important;
}

.chat__unreadMessage {
  background-color: rgba(235, 87, 87, 0.12) !important;
}

.chat__current-chat {
  background-color: rgb(167 167 167 / 20%) !important;
}

.chat__username {
  margin: 2px;
  padding-left: 4px;
}

.chat__unreadMessage_text{
  color: grey;
}

.chat__delete {
  margin: 0 15px;
  border: none;
  border-radius: 6px;
}

.chat__delete:hover {
  background-color: #eb7d7d61;
}