body {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
	margin-top: 50px;
}

#board {
	border: 2px solid black;
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
	flex-wrap: wrap;
	height: 800px;
	width: 800px;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.white {
	height: 100px;
	width: 100px;
	background-color: white;
}

.black {
	height: 100px;
	width: 100px;
	background-color: black;
}

#numsRight div {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.numsLi{
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}

.lettersTop {
	display: flex;
	justify-content: space-around;
	width: 800px;
	margin: 0 auto;
	font-size: 30px;
	margin-bottom: 10px;
}

.lettersBottom {
	display: flex;
	justify-content: space-around;
	width: 800px;
	margin: 0 auto;
	font-size: 30px;
	margin-top: 10px;
}

.lettersTopDiv {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}