.chat__list {
  padding: 0 !important;
  width: 30%;
  height: 564px;
  background-color: white;
  border-radius: 4px;
  overflow: auto;
  margin-top: 19px !important;
}

.chat__top {
  height: 87%;
  overflow-y: scroll;
}

.chat__search {
  background-color: var(--bg-color-card);
}

.chat__input {
  font-size: 18px;
  border: 0px;
  width: 100%;
  outline: none;
}

.chat__text{
  text-align: center;
  padding: 10px;
}

.chat__add {
}