*{
  margin: 0;
  padding: 0;
}

form{
  font-size: 2em;
  text-align: center;
}

div{
  margin-top: 10px;
  margin-bottom: 10px;
}

p{
  color: red;
  margin-top: 10px;
}

button{
  height: 50px;
  width: 100px;
  background-color: green;
  color: white;
  font-size: 0.7em;
  margin-top: 50px;
}

#informTable{
  text-align: center;
  font-size: 2em;
  margin-top: 50px;
}
