<form name="priorityContainer" class="priorityContainer">
    <div class="headerPrior">Приоритет: </div>
    <input type="radio" name="priorityCheck" id="lowPrior" value="2">
    <label for="lowPrior"><img src="https://img.icons8.com/fluent/100/000000/high-priority.png"/></label>
    <input type="radio" name="priorityCheck" checked id="middlePrior" value="1">
    <label for="middlePrior"><img src="https://img.icons8.com/fluent/100/000000/medium-priority.png"/></label>
    <input type="radio" name="priorityCheck" id="highPrior" value="0">
    <label for="highPrior"><img src="https://img.icons8.com/fluent/100/000000/low-priority.png"/></label>
</form>
