<div class="sortedBlockContainer">
    <form name="categoryCheckForm" class="categoryCheckContainer">
        <input type="radio" name="categoryCheck" id="date" value="date">
        <label for="date">По дате</label>
        <input type="radio" name="categoryCheck" id="priority" value="priority">
        <label for="priority">По важности</label>
        <input type="radio" name="categoryCheck" id="completed" value="completed">
        <label for="completed">По выполнению</label>
    </form>
    <form name="upOrDownForm" class="categoryCheckContainer">
        <input type="radio" name="upOrDown" id="asc" value="asc">
        <label for="asc" >По возрастанию</label>
        <input type="radio" name="upOrDown" id="desc" value="desc">
        <label for="desc">По убыванию</label>
    </form>
</div>
