
.navbar {
  box-shadow: none;
  background-color: var(--bg-color) !important;
}

.navbar__toolbar {
  display: flex;
  justify-content: space-around;
}

.link-button {
  color: white;
}

.navbar__profile {
  text-decoration: none;
  padding-left: 6px;
}