<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale =1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>Todo's</title>
</head>
<body>
  <div class="wrapper">
      <h2>Todo's</h2>
      <form action='/' method='post'>
          <div class="input-field inline">
              <input class="input input-field inline" type="text" name="task" required pattern="^*"/>
              <label for="input_field">Your todo's</label>
          </div>
      <button class="waves-effect waves-light btn add-task">Add task</button>
      </form>

      <div class="container">
          <ul>
              {{#data}}
              <li>
                  <a href="/complete/{{@index}}">
                      <button class="completed-btn waves-effect waves-light btn-small" action="/complete" type="button" name="completed">
                          <i class="material-icons left">check</i>
                      </button>
                  </a>
                  {{.}}
              </li>
              {{/data}}
          </ul>
      </div>

      <div class="completed">
          <h2>Completed</h2>
          <ul class="completed__list">
              {{#complete}}
                  <li>{{.}}</li>
              {{/complete}}
          </ul>
      </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
