body {
    margin: 0;
    background-color: blanchedalmond;
}
a {
    text-decoration: none;
}
.layout {
    width: 100%;
    min-height: 100vh;
    
    margin: 0;
}
.addresser {
    color: gray;
    font-size: 12px;
    text-align: right;
}
.content {
    color: black;
}
