body {
    background-color: #333333;
}

button {
    width: 170px;
    padding: 12px;
    margin: 12px;
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 90, 0);
}

button:active {
    background-color: rgb(0, 233, 0);
    color: black;
}

#game td {
    border-collapse: collapse;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
}

/* Вспомогательные элементы */
.food {
    background-color: lightcoral;
}

.snake {
    background-color: lightseagreen;
}

#message {
    font-size: 28px;
    color: red;
} 