body {
    background-color: wheat;
}

.products__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 150px;
    ;
}

#catalog__wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 450px;
    margin: 40px auto;
}

.catalog__header {
    text-align: center;
}

.test__img {
    width: 50px;
    height: 40px;
}

.item__count_wrapper {
    display: flex;
}

.item {
    /* border: 1px solid black; */
}

.modal__wrapper {
    margin-top: 30px;
}

.modal {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: whitesmoke;
    border-radius: 7px;
}

.modal__item {
    display: block;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.form__item_changer {
    padding: 15px 40px;
}

.modal__close {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
}