<form action="/add" method="POST">

  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required>
    <label for="title">Заголовок</label>
    <span class="helper-text" data-error="Добавьте заголовок"></span>
  </div>

  <div class="input-field">
    <input id="description" name="description" type="text" class="validate" required>
    <label for="description">Текст</label>
    <span class="helper-text" data-error="Добавьте описание"></span>
  </div>

  <button class="btn waves-effect waves-light" type="submit">Добавить</button>

</form>