<div>
    <h2>{{user.username}}</h2>
    <div>Возраст: {{user.age}}</div>
    {{#if user.skills}}
        <h4>Навыки:</h4>
        <ol>
            {{#each user.skills}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
    {{/if}}
    <p><a href="/users">Все пользователи</a></p>
</div>