*,
::after,
::before {
  box-sizing: border-box;
}

p {
    font-size: 18px;
}

.btn {
    margin-left: 10px;
    color: #333;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 8px 5px;
    text-decoration: none;
    transition: .3s;
    font-size: 17px;
    background-color: #fff;
    cursor: pointer;
}

.btn:hover {
    transition: .3s;
    text-decoration: none;
    color: #fff;
    background-color: #777;
    padding: 8px 8px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.menu {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    line-height: 1;
}
.statistic {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.statisctic__btn {
    position: relative;
    left: 25%;
}

.statistic__graph_btnPie {
    margin-right: 20px;
}

.statistic__graph {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
}

.btnReturn {
    padding: 8px 250px;
}

.btnReturn:hover {
    transition: .3s;
    text-decoration: none;
    color: #fff;
    background-color: #777;
    padding: 8px 254px;
}