.MuiFab-root.MuiButtonBase-root {
    background-color: #303f9f;
    color: #e6ee9c;
    margin-left: 10px;
}

.MuiFab-root.MuiButtonBase-root:hover {
    color: #303f9f;
    background-color: #e6ee9c;;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
    font-size: 12px;
}

.message-sending {
    margin-right: 10px;
    margin-top: 15px;
    color: #303f9f;
}