.container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.add {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  margin: 10px 0;
}

.todo__input {
  width: 200px;
  height: 40px;
  text-align: center;
}

.todo__list {
  text-align: left;
}
.task {
  display: flex;
  justify-content: space-between;
}

.task button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(253, 78, 78);
  color: white;
  outline: none !important;
  border-color: red;
}

.completed {
  background-color: rgb(89, 233, 89);
}
