@import "./../../../../scss/common/commonMixinsApp";
@import "./../../../../scss/common/globalVariables";

.selectChatBackdropContainer {
  @include --border(all, $primary2, true);
  @include center-content;
  @include --padding;
  width: 20vw;
  max-height: 70vh;
  background-color: transparentize($light, 0.6);
}
.selectDialogPanelSelectorsCont{
  overflow-y: auto;
  overflow-x: hidden;
  height: 72.5vh;
}
.ChatsSectionDlgPn {
  @include --padding;
  @include --border(top bottom, $primary, false);
  text-align: center;
  font-size: 25px;
  width: 96%;
  max-height: 75vh;
  margin: 10px auto 10px auto;
  color: $primary2;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: transparentize($bgPrimaryLight, 0.5);

  &:first-child {
    background-color: transparentize($bgPrimaryLight2, 0.5);
  }

  .ChatsSectionHeaderDlgPn {
    @include --padding;
    @include center-content;
    @include --border(bottom, $bgPrimaryLight3, false);
    margin: 10px;
    color: $primary;
    font-size: 40px;

  }

  .chatSelector {
    user-select: none;
    &Selected {
      @include --border(bottom top, $primary, false);
      background-color: transparentize($primary, 0.5) !important;
    }

    @include --border(top bottom, $bgPrimaryLight3, false);
    @include center-content;
    width: 100%;
    height: 11vh;
    background-color: $bgPrimaryLight;
    cursor: pointer;

    .DeleteChatBtnSelector {
      @include button-click;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 10px;
      left: calc(100% - 40px);
    }

    .chatSelectorTitle {
      text-align: center;
      color: $primary;
      font-size: 27px;
      font-weight: bold;
      height: 35px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      margin-bottom: 2px;
    }

    .chatSelectorMessage {
      @include center-content;
      font-size: 15px;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      height: 60px;
      word-break: break-all;

      .EmptyChatPlaceholder {
        @include --padding;
        background-color: transparentize($primary2, 0.5);
        border-radius: $border;
        font-size: 14px;
        color: transparentize($bgPrimary, 0.5);
        width: 100%;
      }
    }

    .chatSelectorPeopleBtn {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 4px;
      background-color: transparentize($primary1, 0.8);
      border-radius: $border;
      box-sizing: border-box;
      width: 100%;
      height: 90%;

      .--localBtn {
        @include --border('all', $light, true);
        @include button-click;
        height: 35px;
        width: 35px;
        margin: 5px;
        background-size: contain;
        background-color: $bgPrimary;
      }

      .startChatUserBtn {
        @extend .--localBtn;
        background-image: url("https://img.icons8.com/color/100/000000/speech-bubble-with-dots.png");
      }

      .addFriendUserBtn {
        @extend .--localBtn;
        background-image: url("https://img.icons8.com/color/100/000000/checked-user-male--v1.png");
      }

      .removeFriendUserBtn {
        @extend .--localBtn;
        background-image: url("https://img.icons8.com/color/100/000000/remove-user-male--v1.png");
      }
    }
  }
}

.chatUnread {
  animation: blink 0.5s ease-in-out infinite alternate;
}

@keyframes blink {
  from {
    background-color: transparentize($primary2, 0.7);
  }
  to {
    background-color: transparentize($bgPrimary, 0.5);
  }
}

.selectDialogPanel {
  .MuiCircularProgress-root {
    position: absolute;
    left: calc(50% - 5vh);
    top: calc(50% - 10vh);
  }
}
