*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-color: khaki;
}

.wrapper {
    display: flex;
    height: 100%;
}

.messenger {
    min-height: 100%;
    flex-grow: 1;
}

.chatNmessWrapper {
    display: flex;
}

.chats--items{
    display: flex;
    flex-direction: column;
}