*{
  font-family: 'Roboto', sans-serif;
}

#basketPts{
  float:right;
}

#catalog{
  display: none;
  border: 1px solid rgb(62, 47, 75);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 5px 2px;
  font-size: 1.6em;
}

.productCatalog{
  border: 1px solid rgb(62, 47, 75);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-left: 5px;
}

.productImg{
  width: 150px;
  height: 100px;
  cursor:zoom-in;
}

.imgInCour{
  width: 100%;
}

.container{
  margin-top: 20px;
  margin-bottom: 20px;
}

#nextProducts{
  display: none;
}

#form{
  display: none;
}

.plusBtn{
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.minusBtn{
  width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23474640' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23474640' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#canvas1{
  display: none;
}

#canvas2{
  display: none;
}
