$bgPrimary: #343A40;
$bgPrimaryLight: #546068;
$bgPrimaryLight2: #88a0a8;
$bgPrimaryLight3: #b5d4dc;
$primary: orange;
$primary1: #ffcd00;
$primary2: #ffd866;
$light: floralwhite;
$deepDark: #28282b;
$stdPadding: 15px;
$alert: #ff1b00;
$border: 30px;
