* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #333
}

#root {
    max-width: 500px;
    width: 100%;
    border: 1px solid #333;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px
}

.text {
    text-align: center
}

.btn {
    border: 1px solid #333;
    padding: 7px 14px;
    background-color: rgb(26, 116, 26);
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px
}