* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.wrap {
    width: 500px;

}

.tasks {
    margin: 0;
    padding: 0;
}

.taskItem {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    border-top: #eee 1px solid;
    font-size: 18px;
    transition: 0.2s;
    display: inline-block;
    width: calc(100% - 50px);
    margin-top: 5px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.taskItem:hover {
    background: #ddd;
}

.checkbox {
    display: none;
}

.taskItem.checked{
    background: #888;
    color: #fff;
    text-decoration: line-through;
    border-top: #888 1px solid;
}

.taskItem.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    padding: 12px 12px 10px;
    background: #eee;
    margin-left: -6px;
    width: 50px;
    height: 46px;
    cursor: pointer;
}

.close.checked {
    background: #888;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

.addTask, .addBtn {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}
