.chatArea{
  padding: 17px 0 0 0;
  display: flex;
  justify-content: center;
}
//MSG ITEMS AREA
.dialogs {

  &_title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mainText;
    font-size: 26px;
    height: 50px;
    line-height: 20px;
    text-align: center;
    position: relative;
  }

  &_create {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    font-size: 26px;
    color: $secondaryText;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
      color: $active;
    }
  }

  &_names {
    padding: 17px;
    @include border;
    overflow: hidden;
    margin-right: 17px;

    hr {
      margin: 10px 0;
      color: $secondaryText;
    }

    .dialog_link {
      text-decoration: none;
      width: 98%;
      margin-top: 17px;
      transition: .3s;
      box-sizing: border-box;
      padding: 10px 9px;
      display: flex;
      cursor: pointer;

      &:first-child {
        margin-top: 0;
      }

      .user_dialog_account {
        align-items: flex-start;
        margin-bottom: 0;
        transition: .4s;
      }

      &:hover {
        border-left: 2px solid $secondaryText;
        background: rgba(0, 0, 0, 0.05);
        padding: 10px 9px 10px 13px;
      }
    }
  }
}


//TEXT AREA
.chat_messages {
  padding: 17px 23px;
  width: 550px;
  height: 600px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;

  &_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .messages_area {
    flex-grow: 2;
    width: 100%;

    .message {
      &_item {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 15px;
        &:first-child{
          margin-top: 0;
        }
      }

      &_wrapper {
        max-width: 65%;
      }

      &_text {
        display: inline-block;
        position: relative;
        font-size: 18px;
        color: $mainText;
        background: #e6e6e6;
        border-radius: 5px;
        padding: 10px 23px;

        &:after {
          content: '';
          position: absolute;
          left: 5px;
          top: -19px;
          border: 10px solid transparent;
          border-bottom: 10px solid #e6e6e6;
        }
      }
    }

    .companionMessage_account__img{
      width: 30px;
      height: 30px;
    }

    .myMessage {
      justify-content: flex-end;

      .message_wrapper{
        margin-right: 15px;
      }
      &_account{
        justify-content: flex-end;
      }
      &_text {
        background: lighten($active, 45%);

        &:after {
          left: unset;
          top: unset;
          right: 5px;
          bottom: -18px;
          border: 10px solid transparent;
          border-top: 10px solid lighten($active, 45%);
        }
      }
    }
  }

  .input_area {
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__actions {
      display: flex;
      align-items: center;

      .icon_template {
        margin-left: 3px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .message {
      &_area {
        display: flex;
        align-items: center;
        position: relative;
        width: 414px;
        height: 40px;
      }

      &_send {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.05);
        border: 1px solid $secondaryText;
        border-radius: 5px;
        color: $mainText;
        padding: 10px 48px 10px 17px;
        font-size: 16px;
        font-weight: 300;
        outline: none;
        resize: none;

        &__btn {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          transition: .3s;

          &:hover svg {
            color: $active;
          }

          svg {
            width: 26px;
            height: 26px;
            color: $secondaryText;
            transition: .3s;
          }
        }
      }
    }
  }

  hr {
    color: #757575;
    margin: 10px 0;
  }
}