.infoUser{

    text-align: center;

}

.avatar{
    width: 35%;
    height: 58%; 
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(https://images.squarespace-cdn.com/content/v1/55c8e052e4b01bd89f02a45e/1452208562614-J8AFSSTSMN3DJ6Q798XX/ke17ZwdGBToddI8pDm48kE7xzgWkeVHhMSpwGz7q3y4UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2du1iGr6rVFVouDCrC-EYDz_rjS4LofYkqCp0pRSzPi5Jm7cT0R_dexc_UL_zbpz6JQ/image-asset.jpeg?format=1000w)}

.about{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: colomn;
    height: 500px;
}
