:root {
  --body-bg-color: #fff;
  --main-font-color: #000;
  --deveder-color: rgba(0, 0, 0, 0.12);
  --menu-bg: #fff;
  --outline-input: none
}

:root[theme='dark'] {
  --body-bg-color: #212121;
  --main-font-color: #fff;
  --deveder-color: rgba(255, 255, 255, 0.2);
  --menu-bg: #212121;
  --outline-input: 1px solid #3f51b5;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow: hidden;
  background-color: var(--body-bg-color);
  color: var(--main-font-color);
}

a {
  text-decoration: none;
  color: #000
}

.MuiDivider-root {
  background-color: var(--deveder-color) !important;
}

.messagesList {
  margin: 0 auto;
  width: 1000px;
  height: 600px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  box-sizing: border-box;
}

.messagesList::-webkit-scrollbar {
  display: none;
}

.messagesList {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.emptyMessageBlock {
  margin: 0 auto;
}

.message {
  align-self: flex-end;
  margin-top: 20px;
}

.author {
  font-size: 14px;
  text-align: right;
  margin: 0 5px 2px 0;
}

.messageText {
  height: 30px;
  background-color: #3f51b5;
  border-radius: 15px;
  padding: 10px 15px;
  color: white;
  font-size: 18px;
}

.time {
  font-size: 12px;
  text-align: right;
  margin: 2px 5px 0 0;
  color: #888888;
}

.bot {
  align-self: flex-start;
}

.bot .author {
  text-align: left;
  margin: 0 0 2px 5px;
}

.bot .time {
  text-align: left;
  margin: 2px 0 0 5px;
}

.MuiPaper-root.MuiMenu-paper {
  background-color: var(--menu-bg);
}

.MuiInputBase-root.MuiOutlinedInput-root {
  color: var(--main-font-color);
  outline: var(--outline-input)
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl {
  color: var(--main-font-color);
  opacity: 0.5;
}
