/*.message {*/
/*    display: inline-flex;*/
/*    padding: 5px;*/
/*    border-radius: 2px;*/
/*    border: 1px solid wheat;*/
/*    background-color: blue;*/
/*    margin-bottom: 10px;*/
/*}*/
/*.message-sender {*/
/*   text-align: right;*/
/*}*/
.message {
    background-color: lightcoral;
    padding: 5px 12px;
    border-radius: 12px;
    font-size: 20px;
    margin: 5px;
}
.message-author {
     color: grey;
     font-size: 14px;
 }

.message-bot {
     align-self: flex-start;
 }
.message-sender {
    align-self: flex-end;
}
