//FONTS
@import "../assets/fonts/stylesheet.css";
*{
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  max-width: 986px;
  margin: 0 auto;
}
//IMPORT BASE
@import "base/variables";
@import "base/mixins";
@import "base/btns";
@import "base/icons";
@import "base/user";
@import "base/state";
@import "base/dates";
@import "base/avatar";
@import "base/dialogLink";

//IMPORT BASE
@import "blocks/headerArea";
@import "blocks/menuArea";
@import "blocks/profile";
@import "blocks/chatArea";
@import "blocks/modalAddDialog";