//#C50080	#94256D	#800053	#E238A7	#E266B7

$color_blue: rgb(117, 223, 223);
$color_blue_transparent: rgba(117, 223, 223, 0.472);

$color_main: #C50080;
$color_main_transparent:hsla(321, 100%, 39%, 0.047);
$color_main_norm: #94256D;

$color_main_dark: #800053;
$color_main_dark_transparent: rgba(127, 0, 82, 0.6);
$color_main_dark_more: #24091be3;


$color_main_middle: #E238A7;
$color_main_light: #E266B7;

$color_main_white: white;
$color_main_white_transparent: rgba(255, 255, 255, 0.347);



